* {
	padding: 0;
	margin: 0;
}

.wrapper {
	display: flex;
	justify-content: space-evenly;
	font-family: 'Lato', sans-serif;
}

.content {
	width: 1020px;
}

.portfolio{
	height: 804px;
	background-color: #2d303a;
	border-bottom: 6px solid;
	border-color: #323746;
	color: #666d89;
	padding-top: 55px;
	padding-left: 39px;
}

.portfolio h2 {
	font-size: 30px;
	font-weight: 900;
	padding-bottom: 22px;
}

.portfolio p {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: -0.21px;
	padding-bottom: 15px;

}

.portfolio-markers,
.portfolio-images {
	display: flex;
	flex-wrap: wrap;
}

.portfolio-marker {
	font-size: 11px;
	padding: 3px 7px;
	border: 1px solid #666d89;
	border-radius: 3px;
	margin-right: 9px;
	margin-left: 2px;
	letter-spacing: 0.12px;

}

.portfolio-images img {
	padding-left: 1px;
	padding-right: 19px;
	padding-top: 17.5px;
}





.aboutUs{
	height: 728px;
	background-color: #f2f2f2;
	
}